## Java
*.class
*.war
*.ear
hs_err_pid*

## Gradle
/local.properties
.gradle/
gradle-app.setting
/build/

## OS Specific
.DS_Store
Thumbs.db

## Android Studio and Intellij and Android in general
.idea/
*.ipr
*.iws
*.iml
com_crashlytics_export_strings.xml

## Eclipse
.classpath
.project
.metadata/
/gdx-vfx/core/bin/
/gdx-vfx/effects/bin/
/demo/android/bin/
/demo/core/bin/
/demo/desktop/bin/
/demo/html/bin/
/demo/ios/bin/
/demo/ios-moe/bin/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.externalToolBuilders/
*.launch

## NetBeans
/nbproject/private/
/gdx-vfx/core/bin/nbproject/private/
/gdx-vfx/effects/bin/nbproject/private/
/demo/android/nbproject/private/
/demo/core/nbproject/private/
/demo/desktop/nbproject/private/
/demo/html/nbproject/private/
/demo/ios/nbproject/private/
/demo/ios-moe/nbproject/private/

/build/
/gdx-vfx/core/build/
/gdx-vfx/effects/build/
/demo/android/build/
/demo/core/build/
/demo/desktop/build/
/demo/html/build/
/demo/ios/build/
/demo/ios-moe/build/

/out/
/gdx-vfx/core/out/
/gdx-vfx/effects/out/
/demo/android/out/
/demo/core/out/
/demo/desktop/out/
/demo/html/out/
/demo/ios/out/
/demo/ios-moe/out/

/nbbuild/
/gdx-vfx/core/bin/nbbuild/
/gdx-vfx/effects/bin/nbbuild/
/demo/android/nbbuild/
/demo/core/nbbuild/
/demo/desktop/nbbuild/
/demo/html/nbbuild/
/demo/ios/nbbuild/
/demo/ios-moe/nbbuild/

/dist/
/gdx-vfx/core/bin/dist/
/gdx-vfx/effects/bin/dist/
/demo/android/dist/
/demo/core/dist/
/demo/desktop/dist/
/demo/html/dist/
/demo/ios/dist/
/demo/ios-moe/dist/

/nbdist/
/gdx-vfx/core/bin/nbdist/
/gdx-vfx/effects/bin/nbdist/
/demo/android/nbdist/
/demo/core/nbdist/
/demo/desktop/nbdist/
/demo/html/nbdist/
/demo/ios/nbdist/
/demo/ios-moe/nbdist/

nbactions.xml
nb-configuration.xml

/asset-sources/ignore
run-demo-html.bat