## Java
*.class
*.war
*.ear
hs_err_pid*

## Gradle
/local.properties
.gradle/
gradle-app.setting
/build/

## OS Specific
.DS_Store
Thumbs.db

## Android Studio and Intellij and Android in general
.idea/
*.ipr
*.iws
*.iml
com_crashlytics_export_strings.xml

## Eclipse
.classpath
.project
.metadata/
/gdx-vfx/core/bin/
/gdx-vfx/effects/bin/
/demo/android/bin/
/demo/core/bin/
/demo/desktop/bin/
/demo/web/bin/
/demo/ios/bin/
/demo/ios-moe/bin/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.externalToolBuilders/
*.launch

/build/
/gdx-vfx/core/build/
/gdx-vfx/effects/build/
/demo/android/build/
/demo/core/build/
/demo/desktop/build/
/demo/web/build/
/demo/ios/build/
/demo/ios-moe/build/

/out/
/gdx-vfx/core/out/
/gdx-vfx/effects/out/
/demo/android/out/
/demo/core/out/
/demo/desktop/out/
/demo/web/out/
/demo/ios/out/
/demo/ios-moe/out/

/dist/
/gdx-vfx/core/bin/dist/
/gdx-vfx/effects/bin/dist/
/demo/android/dist/
/demo/core/dist/
/demo/desktop/dist/
/demo/web/dist/
/demo/ios/dist/
/demo/ios-moe/dist/